
     .modal-content
     {
        
        background-color: rgba(107, 160, 182, 0.616);
 
        color: #06315c;
     }
 
     .modal-content h5{  
         color: #aee0fa;
     }
 
     .bg-danger {
         background-color: #0d151d !important;}
        
    .modal-font{
        color: #aee0fa;
       
        
    }
    .modal2-container{
        background-color:#0c2742 ;
    }
    
/* ============ List group Item Temp ====== */

.list-group-item1{
    padding: 0.75rem
  }
   /* ============ List group Item Motion ====== */
  /* .list-group-item2{
    padding-top: 1.75rem
  } */
  /* .room-temp-C{
    font-size: large;
  } */
  .sup1 {
    font-size: 1.25rem;
    font-weight: 300;
  }

     /* ============overFlow =========== */
    
     .overflow{
        width: 100%;
        height: 200px;
        overflow: auto; 
    }
    .overflow::-webkit-scrollbar{
        width: 11px;
    }
    .overflow{
        scrollbar-width: thin;
        scrollbar-color:#0c2742
    }
    .overflow::-webkit-scrollbar-track {
        background:#233e58
    }

    .overflow::-webkit-scrollbar-thumb{
        background-color:#3f80a3;
        border-radius:5px;

    }

        /* ============ side bar icon position ============= */

        .sidebar-offcanvas.mini {
            width: 88px !important;
        }
        /*========================== overFlow2========================*/
   

        .overflow2{
            width: 100%;
            height: 385px;
            overflow: auto; 
        }
        .overflow2::-webkit-scrollbar{
            width: 11px;
        }
        .overflow2{
            scrollbar-width: thin;
            scrollbar-color:#0c2742
        }
        .overflow2::-webkit-scrollbar-track {
            background:#233e58
        }
      
        .overflow2::-webkit-scrollbar-thumb{
            background-color:#3f80a3;
            border-radius:5px;
      
        } 
        /* =============================== */
        .overflow3{
          width: 100%;
          height: 245px;
          overflow: auto; 
      }
      .overflow3::-webkit-scrollbar{
          width: 11px;
      }
      .overflow3{
          scrollbar-width: thin;
          scrollbar-color:#0c2742
      }
      .overflow3::-webkit-scrollbar-track {
          background:#233e58
      }
      
      .overflow3::-webkit-scrollbar-thumb{
          background-color:#3f80a3;
          border-radius:5px;
      
      } 

          /* ====================color-change animation========================= */
    .color-change-2x {
        -webkit-animation: color-change-2x 2s linear infinite alternate both;
                animation: color-change-2x 2s linear infinite alternate both;
    }



    /*=====================about us page =================================*/
    @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
    /* https://fonts.googleapis.com/css?family=Allura|Josefin+Sans */

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    
    .wrapper{
      margin-top: 30px;
      text-align: center;
    }
    
    .wrapper h1{
      /* font-family: 'Allura', cursive; */
      font-family: 'Lobster', cursive;
      font-size: 48px;
      color: #fff;
      margin-bottom: 50px;
    }
    
    .our_team{
      width: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      perspective: 1000px;
    }
    
    .our_team .team_member{
      width: 250px;
      margin: 10px;
      background: #161e25;
      padding: 20px 10px;
      color: #8e8b8b; 
      overflow: hidden;                     
    }


    .our_team .team_member .member_img{
      background: #e9e5fa;  
      max-width: 190px;
      width: 100%;
      height: 190px;
      margin: 0 auto;
      border-radius: 50%;
      padding: 5px;
      position: relative;
      cursor: pointer;
    }

    .our_team .team_member .member_info{
      position: relative;
      max-width: 190px;
      width: 100%;
      height: 190px;
      margin: 50px auto;
      margin-bottom: 52px;
      border-radius: 50%;
      padding: 5px;
      animation:typing 5s linear 2s infinite alternate;
      /* overflow:hidden;
      white-space:nowrap; */
      
    }

    /* .our_team .team_member .member_info .firstMember{
        white-space:nowrap;
        overflow:hidden;
        animation:typing 2s steps(22);
        width: 22ch;
    } */


    .our_team .team_member .member_img img{
      width: 100%;
      height: 100%;
    }
    
    .our_team .team_member h3{
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 2px;
      margin: 20px 0 20px;
      color: #0f9ce6; 
      
    }
    
    .our_team .team_member span{
      font-size: 10px;
      color: #d3d9e0;
    }
    

    .our_team .team_member ul{
        margin: 20px 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .our_team .team_member ul li{
        list-style: none;
    }

    .our_team .team_member ul li a{
        padding: 0 10px;
        color: #124d6d; 
    }

    .our_team .team_member ul li a .fab{
        transition: .5s;
    }

    .our_team .team_member ul li a:hover .fab{
        transform: rotateY(360deg);
    }
    





    .our_team .team_member .member_img .social_media{
      position: absolute;
      top: 5px;
      left: 5px;
      background: rgba(0,0,0,0.65);
      width: 95%;
      height: 95%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
     transition: all 0.5s ease;
    }
    
    .our_team .team_member .member_img .social_media .item{
      margin: 0 10px;
    }
    
    .our_team .team_member .member_img .social_media .fab{
      color: #8c7ae6;
      font-size: 20px;
    }
    
    .our_team .team_member .member_img:hover .social_media{
      transform: scale(1);
    }
      



    @keyframes typing {
        0% { width:0ch }
        100% { width:22ch }
      }
      