
     .modal-content
     {
        
        background-color: rgba(107, 160, 182, 0.616);
 
        color: #06315c;
     }
 
     .modal-content h5{  
         color: #aee0fa;
     }
 
     .bg-danger {
         background-color: #0d151d !important;}
        
    .modal-font{
        color: #aee0fa;
       
        
    }
    .modal2-container{
        background-color:#0c2742 ;
    }
    


     /* ============overFlow =========== */
    
     .overflow{
        width: 100%;
        height: 200px;
        overflow: auto; 
    }
    .overflow::-webkit-scrollbar{
        width: 11px;
    }
    .overflow{
        scrollbar-width: thin;
        scrollbar-color:#0c2742
    }
    .overflow::-webkit-scrollbar-track {
        background:#233e58
    }

    .overflow::-webkit-scrollbar-thumb{
        background-color:#3f80a3;
        border-radius:5px;

    }
      